// == HEADINGS ==
@mixin h1-main {
    font-size: 3rem;

    @media (max-width: 767px) {
        font-size: 1rem;
    }

    @media (min-width: 768px) and (max-width: 1279px) {
        font-size: 1.5rem;
    }

    @media (min-width: 1280px) and (max-width: 1440px) {
        font-size: 2.25rem;
    }
}


@mixin heading {
    font-size: 3rem;

    @media (max-width: 767px) {
        font-size: 1.75rem;
    }
}

// == PARAGRAPHS ==
@mixin text-huge {
    font-size: 5rem;

    @media (max-width: 1023px) {
        font-size: 3.125rem;
    }

    @media (min-width: 1024px) and (max-width: 1440px) {
        font-size: 3.75rem;
    }
}

@mixin text-xxlarge {
    font-size: 3.125rem;

    @media (max-width: 767px) {
        font-size: 30px;
    }
}

@mixin text-x-large {
    font-size: 2.375rem;
}

@mixin text-xlarge {
    font-size: 2.375rem;

    @media (max-width: 1279px) {
        font-size: 1.5rem;
    }

    @media (min-width: 1280px) and (max-width: 1440px) {
        font-size: 1.75rem;
    }
}

@mixin text-large {
    font-size: 1.5rem;

    @media (max-width: 767px) {
        font-size: 1.25rem;
    }
}

@mixin text-medium-large {
    font-size: 1.375rem;

    @media (max-width: 767px) {
        font-size: 1rem;
    }
}

@mixin text-medium {
    font-size: 1.25rem;

    @media (max-width: 767px) {
        font-size: 1rem;
    }
}

@mixin text-small {
    font-size: 1.125rem;

    @media (max-width: 767px) {
        font-size: .875rem;
    }
}

@mixin text-base {
    @include text-small;
    font-weight: 400;
    line-height: $line-height;
    color: $grey-35;
}

// == OTHER ==
@mixin centered-container {
    padding: 0 10.125rem;
    max-width: 116.25rem;
    margin: 0 auto;

    @media(max-width: 767px) {
        padding: 0 1rem;
    }

    @media(min-width: 768px) and (max-width: 1279px) {
        padding: 0 2rem;
    }

    @media(min-width: 1280px) and (max-width: 1440px) {
        padding: 0 5rem;
    }
}


// == BUTTONS ==
@mixin btn-view-all {
    display: inline-block;
    text-decoration: none;
    @include text-small;
    font-weight: 500;
    line-height: $line-height;
    color: $grey-15;
    background-color: $white-99;
    border: .0625rem solid $white-95;
    border-radius: $radius-8;
    padding: 1.125rem 1.5rem;
    transition: background-color 0.3s;
    white-space: nowrap;
    margin-left: 1.875rem;

    &:hover {
        background-color: $white-95;
        border: .0625rem solid $white-99;
    }

    @media (max-width: 767px) {
        padding: .875rem 1.25rem !important;
        margin-left: 0 !important;
    }
}


@mixin btn-info {
    @include text-small;
    font-weight: 500;
    line-height: $line-height;
    color: $grey-15;
    text-decoration: none;
    padding: 1.125rem 1.5rem;
    background-color: $white-97;
    border: .0625rem solid $white-95;
    border-radius: $radius-8;
    transition: background-color 0.3s;

    &:hover {
        background-color: $white-99;
    }
}
