// == IMPORTS ==
@import "partials/mixins";
@import "partials/variables";

@import "components/header";
@import "components/footer";
@import "components/slider";

@import "pages/home";



*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Be Vietnam Pro", serif;
    background-color: $white-97;
}

.container {
    @include centered-container;
}


// == OUR PRICING SECTION == 
.section-pricing {
    position: relative;
    margin-bottom: 7.5rem;

    .header-pricing {
        margin-bottom: 5rem;

        h2 {
            @include heading;
            font-weight: 600;
            line-height: $line-height;
            color: $grey-15;
            margin-bottom: .375rem;
        }

        p {
            @include text-small;
            font-weight: 400;
            line-height: $line-height;
            color: $grey-35;
            max-width: 50rem;
        }
    }

    .pricing-tabs {

        [data-tab-content] {
            display: none;
        }

        .active[data-tab-content] {
            display: block;
        }

        .tabs-list {
            display: flex;
            list-style-type: none;
            background-color: $white;
            padding: .75rem;
            border-radius: $radius-8;
            max-width: 17rem;
            cursor: pointer;

            position: absolute;
            top: 3%;
            right: 0;

            .tab {
                @include text-small;
                font-weight: 500;
                line-height: $line-height;
                color: $grey-30;
                padding: .875rem 1.875rem;

                &.active {
                    background-color: $orange-50;
                    border-radius: $radius-6;
                    color: $white;
                }
            }
        }

        .tabs-content {
            background-color: $white;
            padding: 5rem;
            border-radius: $radius-12;

            .plans-wrapper {
                display: flex;
                gap: 1.875rem;

                .plan-card {
                    background-color: $white-99;
                    border: .0625rem solid $white-95;
                    border-radius: $radius-12;
                    padding: 3.125rem 1.875rem 1.875rem 1.875rem;
                    width: 50%;

                    .plan-header {
                        background-color: $orange-97;
                        border: .0625rem solid $orange-90;
                        padding: .75rem 1.375rem;
                        border-radius: $radius-6;
                        margin-bottom: 3.125rem;

                        h3 {
                            text-align: center;
                            @include text-medium-large;
                            font-weight: 500;
                            line-height: 169%;
                            color: $grey-15;
                        }
                    }

                    .plan-price {
                        @include text-medium;
                        font-weight: 500;
                        color: $grey-30;
                        text-align: center;
                        margin-bottom: 3.125rem;

                        .plan-price-span {
                            @include text-huge;
                            font-weight: 600;
                            color: $grey-15;
                        }
                    }

                    .plan-features {
                        background-color: $white;
                        padding: 2.5rem;
                        border: .0625rem solid $white-95;
                        border-top-left-radius: $radius-14;
                        border-top-right-radius: $radius-14;

                        .features-heading {
                            @include text-medium;
                            font-weight: 500;
                            line-height: $line-height;
                            color: $grey-15;
                            margin-bottom: 1.875rem;
                            text-align: center;
                        }

                        .feature-item {
                            list-style-type: none;
                            margin-bottom: 1.25rem;

                            &:last-child {
                                margin-bottom: 0;
                            }

                            .feature-content {
                                display: flex;
                                align-items: center;
                                gap: .75rem;
                                padding: .875rem;
                                border: .0625rem solid $white-95;
                                border-radius: $radius-8;


                                .feature-icon {
                                    display: flex;
                                    background-color: $orange-95;
                                    border-radius: $radius-6;
                                    padding: .375rem;

                                    .feature-icon-svg {
                                        width: 1.25rem;
                                        height: 1.25rem;
                                        color: $grey-15;
                                    }
                                }

                                .feature-icon-x {
                                    background-color: transparent;
                                    border: .0625rem solid $white-95
                                }

                                .feature-text {
                                    @include text-small;
                                    font-weight: 400;
                                    line-height: $line-height;
                                    color: $grey-30;
                                }
                            }
                        }
                    }

                    .plan-btn {
                        display: inline-block;
                        width: 100%;
                        text-align: center;
                        @include text-small;
                        font-weight: 600;
                        line-height: $line-height;
                        color: $white;
                        padding: 1.375rem 1.5rem;
                        background-color: $orange-50;
                        border-bottom-left-radius: $radius-8;
                        border-bottom-right-radius: $radius-8;
                        text-decoration: none;
                        transition: background-color 0.3s;

                        &:hover {
                            background-color: $orange-70;
                        }
                    }
                }
            }
        }
    }
}


// == FAQ SECTION ==
.section-faq {
    display: flex;
    gap: 7.5rem;
    padding: 5rem;
    background-color: $white;
    border-radius: $radius-12;
    margin-bottom: 7.5rem;

    .header-faq {
        width: 40%;

        h2 {
            @include heading;
            font-weight: 600;
            line-height: 120%;
            color: $grey-15;
            margin-bottom: .375rem;
        }

        p,
        .header-faq-link {
            @include text-small;
            font-weight: 400;
            line-height: $line-height;
            color: $grey-35;
            max-width: 73.5625rem;
            margin-bottom: 3.125rem;

            a {
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .faq-btn {
            @include btn-view-all;
            margin-left: 0;
        }
    }

    .faq-container {
        width: 60%;

        .faq-item {
            display: flex;
            flex-direction: column;
            border: .0625rem solid $white-95;
            border-radius: $radius-12;
            margin-bottom: 1.875rem;
            padding: 1.875rem 3.125rem;

            &:last-child {
                margin-bottom: 0;
            }

            .faq-question {
                display: flex;
                align-items: center;
                width: 100%;
                justify-content: space-between;

                .faq-title {
                    @include text-medium;
                    font-weight: 500;
                    line-height: $line-height;
                    color: $grey-15;
                }

                .faq-toggle {
                    display: flex;
                    background-color: $orange-95;
                    padding: .75rem;
                    border: none;
                    border-radius: $radius-8;
                    cursor: pointer;
                    margin-left: .625rem;

                    .faq-toggle-plus {
                        width: 1.75rem;
                        height: 1.75rem;
                        color: $grey-15;
                    }
    
                    .faq-toggle-plus {
                        display: inline-block;
                    }
    
                    .faq-toggle-close {
                        display: none;
                    }
                }
            }

            &.active {    
                .faq-toggle {
                    .faq-toggle-plus {
                        display: none;
                    }

                    .faq-toggle-close {
                        display: inline-block; 
                        width: 1.75rem;
                        height: 1.75rem;
                        color: $grey-15;
                    }
                }
            }

            &.active {
                .faq-question {
                    padding-bottom: 35px;
                    border-bottom: .0625rem solid $white-95;
                }

                .faq-text {
                    display: block;
                    padding-top: 50px;
                }
            }

            &.active .faq-link {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            
            .faq-text {
                @include text-small;
                font-weight: 400;
                line-height: $line-height;
                color: $grey-30;
                display: none;
            }

            .faq-link {
                display: none;
                padding: 1.25rem 1.875rem;
                background-color: $white-97;
                border: .0625rem solid $white-95;
                border-radius: $radius-8;
                text-decoration: none;
                margin-top: 3.125rem;
                width: 100%;

                &:hover .faq-link-icon-svg {
                    transform: translateX(.1875rem);
                }

                .faq-link-text {
                    @include text-small;
                    font-weight: 500;
                    line-height: $line-height;
                    color: $grey-20;
                }

                .faq-link-icon {
                    display: flex;
                    background-color: $white;
                    padding: .875rem;
                    border-radius: 100%;
                    margin-left: .625rem;

                    .faq-link-icon-svg {
                        width: 1.75rem;
                        height: 1.75rem;
                        color: $grey-30;
                        transition: transform 0.3s ease;
                    }
                }
            }
        }
    }
}


// == BREAKPOINTY ==
@media screen and (max-width: 400px) {
    // == OUR PRICING SECTION ==
    .feature-content {
        align-items: flex-start !important;
    }
}

@media screen and (max-width: 767px) {
    // == OUR PRICING SECTION ==
    .header-pricing {
        h2 {
            margin-bottom: .25rem !important;
        }
    }

    .tab {
        padding: .75rem 1.5rem !important;
    }

    .plan-btn {
        padding: 1.125rem 1.5rem !important;
    }

    // == FAQ SECTION ==
    .header-faq {
        h2 {
            margin-bottom: .25rem !important;
        }
    }

    .faq-container {
        .faq-item {
            .faq-question {
                .faq-toggle {
                    padding: .625rem !important;
        
                    .faq-toggle-plus {
                        width: 1.25rem !important;
                        height: 1.25rem !important;
                    }
                }
            }

            .faq-link {
                .faq-link-icon {
                    padding: .625rem !important;

                    .faq-link-icon-svg {
                        width: 1.25rem !important;
                        height: 1.25rem !important;
                    }
                }
            }

            &.active {
                .faq-toggle {
                    .faq-toggle-close {
                        width: 1.25rem !important;
                        height: 1.25rem !important;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 1023px) {
    // == OUR PRICING SECTION ==
    .section-pricing {
        margin-bottom: 3.125rem;

        .header-pricing {
            margin-bottom: 2.5rem;
        }

        .tabs-content {
            padding: 1.25rem !important;

            .plans-wrapper {
                flex-direction: column;
        
                .plan-card {
                    width: 100% !important;
                    padding: 1.875rem 1.25rem 1.25rem 1.25rem !important;

                    .plan-header {
                        padding: .5rem 1.375rem !important;
                        margin-bottom: 1.875rem !important;
                    }
    
                    .plan-price {
                        margin-bottom: 1.875rem !important;
                    }
    
                    .plan-features {
                        padding: 1.25rem !important;
    
                        .features-heading {
                            margin-bottom: 1.25rem !important;
                        }
    
                        .feature-content {
                            padding: .75rem !important;
                        }
                    }
                }
            }
        }
    }

    // == FAQ SECTION ==
    .section-faq {
        margin-bottom: 3.125rem;
        padding: 1.5rem;
        gap: 2.5rem;

        .header-faq {
            p {
                margin-bottom: 1.25rem !important;
            }
        }

        .faq-container {
            .faq-item {
                padding: 1.25rem 1.5rem;
                margin-bottom: 1.25rem;

                .faq-text {
                    padding-top: 1.25rem !important;
                }

                .faq-link {
                    margin-top: 1.25rem;
                    padding: .75rem 1.25rem;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    // == OUR PRICING SECTION ==
    .section-pricing {
        margin-bottom: 6.25rem;

        .header-pricing {
            margin-bottom: 3.75rem;
        }

        .tabs-content {
            padding: 3.125rem !important;

            .plan-card {
                padding: 2.5rem 1.5rem 1.5rem 1.5rem !important;

                .plan-features {
                    padding: 1.875rem !important;
                }
            }
        }
    }


    // == FAQ SECTION ==
    .section-faq {
        margin-bottom: 6.25rem;
        padding: 3.125rem;
        gap: 3.75rem;

        .header-faq {
            p {
                margin-bottom: 2.5rem !important;
            }
        }

        .faq-container {
            .faq-item {
                padding: 1.5rem 2.5rem;
                margin-bottom: 1.25rem;

                .faq-text {
                    padding-top: 2.5rem !important;
                }

                .faq-link {
                    margin-top: 2.5rem;
                    padding: 1rem 1.5rem;
                }
            }
        }
    }
}


@media screen and (max-width: 1279px) {
    // == OUR PRICING SECTION ==
    .pricing-tabs {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.5rem;

        .tabs-list {
            position: unset !important;
        }
    }

    // == FAQ SECTION ==
    .section-faq {
        flex-direction: column;

        .header-faq {
            width: 100%;
        }

        .faq-container {
            width: 100%;
        }
    }
}

@media screen and (max-width: 1440px) {
    .faq-item {
        &.active {
            .faq-question {
                padding-bottom: 1.25rem !important;
            }
        }
    }
}
