// == FOOTER ==
.footer {
    background-color: $white;

    .footer-wrapper {
        @include centered-container;
        padding-top: 6.25rem;
        padding-bottom: 1.875rem;

        .footer-content {
            display: flex;
            justify-content: space-between;
            padding-bottom: 3.125rem;
    
            .footer-contact-container {
                .footer-contact {
                    margin-top: 2.5rem;
    
                    .footer-contact-item {
                        display: flex;
                        text-decoration: none;
                        font-style: normal;
                        margin-bottom: 1.25rem;
                        align-items: center;
    
                        .footer-icon {
                            width: 1.5rem;
                            height: 1.5rem;
                            margin-right: .375rem;
                            color: $grey-15;
                        }
    
                        .contact-item {
                            @include text-small;
                            font-weight: 400;
                            line-height: $line-height;
                            color: $grey-15;
                        }
    
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
    
            .footer-nav {
                display: flex;
                justify-content: space-between;
                width: 50.4375rem;
    
                .footer-nav-column {
                    .footer-nav-title {
                        @include text-medium;
                        font-weight: 600;
                        line-height: $line-height;
                        color: $grey-15;
                        margin-bottom: .875rem;
                    }
    
                    ul {
                        li {
                            list-style-type: none;
                            margin-bottom: .5rem;
    
                            &:last-child {
                                margin-bottom: 0;
                            }
    
                            a {
                                text-decoration: none;
                                @include text-small;
                                font-weight: 400;
                                line-height: $line-height;
                                color: $grey-35;
                            }
                        }
                    }
    
                    .footer-socials {
                        display: flex;
    
                        .footer-social-link {
                            display: flex;
                            background-color: $white-97;
                            border: .0625rem solid $white-95;
                            margin-right: .625rem;
                            padding: .875rem;
                            border-radius: $radius-8;
    
                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }
                }
            }
        }

        .footer-copyright {
            text-align: center;
            padding-top: 3.125rem;
            border-top: .0625rem solid $white-95;
            @include text-small;
            font-weight: 400;
            line-height: $line-height;
            color: $grey-40;
        }
    }
}


// == BREAKPOINTY ==
@media screen and (max-width: 767px) {
    .footer-laptop-logo {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .footer-mobile-logo {
        display: none;
    }
}

@media screen and (max-width: 1023px) {
    .footer {
        .footer-wrapper {
            .footer-content {
                flex-direction: column;

                .footer-contact-container {
                    .footer-contact {
                        margin-top: 1.875rem;
            
                        .footer-contact-item {
                            margin-bottom: .75rem;
            
                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }

                .footer-nav {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 1.5rem;
                    width: 100%;
                    margin-top: 1.5rem;
        
                    .footer-nav-column {
                        .footer-nav-title {
                            margin-bottom: .625rem;
                            @include text-small;
                        }
        
                        ul {
                            li {
                                margin-bottom: .25rem;
                            }
                        }
        
                        &:nth-child(1),
                        &:nth-child(2) {
                            grid-column: span 1;
                        }
        
                        &:nth-child(3) {
                            grid-column: span 2;
                        }
                    }
                }
            }
        }
    }
}


@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .footer-content {
        justify-content: flex-end;
        gap: 3.75rem;
    }
}

@media screen and (max-width: 1279px) {
    .footer {
        .footer-wrapper {
            padding-top: 3.125rem;
            padding-bottom: 1.5rem;
    
            .footer-content {
                padding-bottom: 1.25rem;
            }
    
            .footer-copyright {
                padding-top: 1.25rem;
            }
        }
    }
}


@media screen and (min-width: 1280px) and (max-width: 1440px) {
    .footer {
        .footer-wrapper {
            padding-top: 3.75rem;
            padding-bottom: 1.25rem;
    
            .footer-content {
                padding-bottom: 1.875rem;
            }
    
            .footer-copyright {
                padding-top: 1.875rem;
            }
        }
    }
    
}

@media screen and (max-width: 1439px) {
    .footer-desktop-logo {
        display: none;
    }
}

@media screen and (min-width: 1440px) {
    .footer-laptop-logo {
        display: none;
    }
}