// == SLIDER - MAIN PAGE ==
.logos-slider {
    background-color: $white-99;
    border: .0625rem solid $white-95;
    padding: .625rem;
    border-radius: $radius-8;

    .logo-mobile-container {
        display: flex;
        justify-content: center;
        border-right: .0625rem solid $white-95;
        padding: 1.25rem 1.875rem;
        width: 100%;
    }
}

@media screen and (min-width: 1440px) {
    // == SLIDER - MAIN PAGE ==
    .logos-slider {
        display: none;
    }
}