// == INFO SECTION ==
.info-section {
    margin-bottom: 7.5rem;

    .info-header {
        margin-bottom: 5rem;

        h2 {
            @include heading;
            font-weight: 500;
            line-height: $line-height;
            color: $grey-20;
            margin-bottom: .375rem;
        }

        p {
            @include text-base;
        }
    }

    .info-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.875rem;

        .info-card {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 3.125rem;
            background-color: $white;
            border-radius: $radius-12;

            .info-icon {
                display: flex;
                background-color: $orange-97;
                border: .0625rem solid $orange-90;
                border-radius: $radius-8;
                padding: 1rem;
                margin-bottom: 1.875rem;
            }

            .info-card-title {
                @include text-large;
                font-weight: 500;
                line-height: $line-height;
                color: $grey-15;
                margin-bottom: .875rem;
            }

            .info-card-text {
                @include text-base;
            }
        }
    }

    // == CTA ==
    .info-cta {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: .625rem;
        background-color: $white;
        margin-top: 5rem;
        padding: 5rem;
        border-radius: $radius-12;
        position: relative;
        overflow: hidden;

        .info-cta-text {
            z-index: 1;

            .info-cta-heading {
                @include heading;
                font-weight: 600;
                line-height: 120%;
                color: $grey-15;
                max-width: 65rem;
                margin-bottom: 1.25rem;
            }

            .info-cta-highlight {
                color: $orange-50;
            }

            .info-cta-description {
                @include text-base;
            }
        }

        .info-cta-object {
            position: absolute;
            right: 10rem;
        }

        .info-cta-btn {
            @include text-small;
            font-weight: 600;
            line-height: $line-height;
            color: $white;
            text-decoration: none;
            white-space: nowrap;

            background-color: $orange-50;
            padding: 1.125rem 1.5rem;
            border-radius: $radius-8;
            transition: background-color 0.3s;
            z-index: 1;

            &:hover {
                background-color: $orange-70;
            }
        }
    }
}


// == BREAKPOINTY ==
@media screen and (max-width: 767px) {
    // == INFO SECTION ==
    .info-header {
        h2 {
            margin-bottom: .25rem !important;
        }
    }

    .info-cards {
        grid-template-columns: repeat(1, 1fr) !important;

        .info-card {
            .info-icon {
                padding: .875rem !important;
            }
        }
    }
}

@media screen and (max-width: 1023px) {
    // == INFO SECTION ==
    .info-section {
        margin-bottom: 3.125rem;

        .info-header {
            margin-bottom: 3.125rem;
        }

        .info-card {
            padding: 1.875rem !important;

            .info-card-title {
                margin-bottom: .375rem !important;
            }
        }

        // == CTA ==
        .info-cta {
            flex-direction: column;
            align-items: flex-start;
            padding: 1.875rem;
            margin-top: 3.125rem;

            .info-cta-text {
                margin-bottom: 2.5rem;

                .info-cta-heading {
                    margin-bottom: .625rem !important;
                }
            }

            .info-cta-object {
                display: none;
            }

            .info-cta-btn {
                padding: .875rem 1.25rem;
            }
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    // == INFO SECTION ==
    .info-section {
        margin-bottom: 6.25rem;

        .info-header {
            margin-bottom: 3.75rem;
        }

        .info-card {
            padding: 2.5rem !important;

            .info-card-title {
                margin-bottom: .625rem !important;
            }
        }

        // == CTA ==
        .info-cta {
            padding: 3.75rem;
            margin-top: 3.75rem;

            .info-cta-heading {
                margin-bottom: .875rem !important;
            }
        }
    }
}

@media screen and (max-width: 1440px) {
    // == INFO SECTION ==
    .info-cards {
        gap: 1.25rem !important;

        .info-icon {
            margin-bottom: 1.5rem !important;
        }
    }
}