// == CONTACT US SECTION ==
.contact-section {
    display: flex;
    gap: .125rem;
    margin-bottom: 7.5rem;

    // == FORM ==
    .contact-form {
        padding: 5rem;
        background-color: $white;
        width: 65%;
        border-top-left-radius: $radius-12;
        border-bottom-left-radius: $radius-12;

        fieldset {
            border: none;

            .input-group {
                display: flex;
                flex-direction: column;
    
                label {
                    @include text-small;
                    font-weight: 500;
                    line-height: $line-height;
                    color: $grey-15;
                    margin-bottom: 1rem;
                }
    
                .form-input {
                    background-color: $white-99;
                    border: .0625rem solid $white-95;
                    padding: 1.5rem 1.25rem;
                    border-radius: $radius-8;
                    outline: none;

                    &,
                    &:focus,
                    &:active {
                        @include text-base;
                    }
                }

                ::placeholder {
                    @include text-base;
                    color: $grey-40;
                }
            }
        }

        .personal-details {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1.875rem;
            margin-bottom: 1.875rem;
        }

        .form-message {
            margin-bottom: 3.125rem;

            .form-input-subject {
                margin-bottom: 3.125rem;
            }

            textarea {
                ::placeholder {
                    @include text-base;
                    color: $grey-40;
                }

                &,
                &:focus {
                    font-family: "Be Vietnam Pro", serif;
                    @include text-base;
                }
            }
        }

        .form-btn {
            @include text-small;
            font-weight: 500;
            line-height: $line-height;
            color: $white;
            background-color: $orange-50;
            border-radius: $radius-8;
            padding: 1.125rem 1.5rem;
            border: none;
            display: flex;
            margin: 0 auto;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: $orange-70;
            }
        }
    }

    // == CONTACT ==
    .contact-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: $white;
        padding: 5rem;
        width: 35%;
        border-top-right-radius: $radius-12;
        border-bottom-right-radius: $radius-12;

        .contact-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.25rem;
            background-color: $white-99;
            border: .0625rem solid $white-95;
            padding: 1.875rem;
            border-radius: $radius-8;

            .contact-icon {
                display: flex;
                padding: .875rem;
                background-color: $white-97;
                border: .0625rem solid $white-95;
                border-radius: $radius-8;

                .contact-icon-svg {
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }

            .contact-text {
                @include text-base;
                color: $grey-30;
                text-decoration: none;
                font-style: normal;
            }

            address {
                text-align: center;
            }

            .social-links {
                display: flex;
                gap: .875rem;

                .social-link {
                    display: flex;
                    background-color: $white-97;
                    border: .0625rem solid $white-95;
                    border-radius: $radius-8;
                    padding: .875rem;
                }
            }
        }
    }
}

// == BREAKPOINTY ==
@media screen and (max-width: 767px) {
    .contact-section {
        .contact-form {
            .personal-details {
                grid-template-columns: repeat(1, 1fr);
            }

            .form-btn {
                width: 100%;
                justify-content: center;
                padding: .875rem 1.25rem;
            }
        }

        .contact-info {
            .contact-card {
                gap: .875rem;

                .contact-icon {
                    padding: .75rem;
                }

                .social-links {
                    .social-link {
                        padding: .75rem;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1023px) {
    .contact-section {
        margin-bottom: 3.125rem;

        // == FORM ==
        .contact-form {
            padding: 1.875rem;

            .personal-details {
                gap: 1.25rem;
                margin-bottom: 1.25rem;
            }

            .form-message {
                margin-bottom: 1.875rem;

                .form-input-subject {
                    margin-bottom: 1.25rem;
                }
            }
        }

        // == CONTACT ==
        .contact-info {
            padding: 1.875rem;
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    .contact-section {
        margin-bottom: 6.25rem;

        // == FORM ==
        .contact-form {
            padding: 3.75rem;

            .personal-details {
                margin-bottom: 1.5rem;
            }

            .form-message {
                margin-bottom: 2.5rem;

                .form-input-subject {
                    margin-bottom: 2.5rem;
                }
            }
        }

        // == CONTACT ==
        .contact-info {
            padding: 3.75rem;
        }
    }
}

@media screen and (max-width: 1280px) {
    .contact-section {
        flex-direction: column;
    
        // == FORM ==
        .contact-form {
            width: 100%;
            border-top-right-radius: $radius-12;
            border-bottom-left-radius: 0;

            fieldset {
                .input-group {
                    label {
                        margin-bottom: .75rem;
                    }

                    .form-input {
                        padding: 1.25rem;
                    }
                }
            }
        }

        // == CONTACT
        .contact-info {
            gap: 1.25rem;
            width: 100%;
            border-top-right-radius: 0;
            border-bottom-left-radius: $radius-12;
        }
    }
}

@media screen and (min-width: 1441px) and (max-width: 1550px) {
    .contact-section {
        // == CONTACT ==
        .contact-info {
            padding: 4.375rem;
        }
    }
}
