// == SUBPAGE INTRO SECTION ==
.subpage-intro {
    display: flex;
    gap: 6.25rem;
    margin-top: 6.25rem;
    margin-bottom: 7.5rem;
    padding-bottom: 3.125rem;
    border-bottom: .0625rem solid $white-90;

    h1 {
        width: 50%;
        @include heading;
        font-weight: 600;
        line-height: $line-height;
        color: $grey-15;
    }

    p {
        width: 50%;
        @include text-base;
    }
}

// == COURSE LISTING SECTION ==
.courses-subpage-list {
    margin-bottom: 7.5rem;

    .course-subpage-card {
        padding: 3.125rem;
        background-color: $white;
        border-radius: $radius-12;
        margin-bottom: 3.125rem;

        &:last-child {
            margin-bottom: 0;
        }

        .course-subpage-header {
            display: flex;
            gap: 3.125rem;
            align-items: center;
            margin-bottom: 1.875rem;

            .course-subpage-info {
                h2 {
                    @include text-large;
                    font-weight: 600;
                    line-height: $line-height;
                    color: $grey-15;
                }

                p {
                    @include text-base;
                }
            }

            .course-subpage-link {
                @include btn-view-all;
                margin-left: 0;
            }
        }

        .course-subpage-images {
            display: flex;
            gap: 1.875rem;
            margin-bottom: 1.875rem;
            
            .image-container {
                img {
                    width: 100%;
                }
            }
        }

        .course-meta {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 3.125rem;

            .course-duration-level {
                span {
                    display: inline-block;
                    padding: .625rem 1rem;
                    background-color: $white;
                    border: .0625rem solid $white-95;
                    border-radius: $radius-8;
                    @include text-base;
                }

                .course-subpage-duration {
                    margin-right: .625rem;
                }
            }

            .course-subpage-instructor {
                span {
                    @include text-medium;
                    font-weight: 500;
                    color: $grey-15;
                }
            }
        }

        .course-subpage-curriculum {
            border: .0625rem solid $white-95;
            border-radius: $radius-12;

            .curriculum-title {
                @include text-medium-large;
                font-weight: 600;
                line-height: $line-height;
                color: $grey-15;
                padding: 1.5rem 1.875rem;
                border-bottom: .0625rem solid $white-95;
            }

            .subpage-curriculum-list {
                display: flex;
                padding: 1.875rem 0;
                

                .subpage-curriculum-item {
                    border-right: 0.0625rem solid $white-95;
                    padding: 0 3.125rem;
                    width: 100%;

                    
                    &:last-child {
                        border-right: 0;
                    }

                    .curriculum-step {
                        @include text-xxlarge;
                        font-weight: 800;
                        line-height: $line-height;
                        color: $grey-15;
                    }

                    .curriculum-topic {
                        @include text-small;
                        font-weight: 500;
                        line-height: $line-height;
                        color: $grey-20;
                    }
                }
            }
        }
    }
}


// == BREAKPOINTY ==
@media screen and (max-width: 1023px) {
    // == SUBPAGE INTRO SECTION ==
    .subpage-intro {
        margin: 50px 0;
        padding-bottom: 30px;
        gap: 1rem;
        flex-direction: column;

        h1 {
            width: 100%;
        }

        p {
            width: 100%;
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    // == SUBPAGE INTRO SECTION ==
    .subpage-intro {
        margin: 100px 0;
        padding-bottom: 40px;
        gap: 80px;
    }
}
