// == SUBPAGE INTRO SECTION ==
.subpage-intro {
    display: flex;
    gap: 6.25rem;
    margin-top: 6.25rem;
    margin-bottom: 7.5rem;
    padding-bottom: 3.125rem;
    border-bottom: .0625rem solid $white-90;

    h1 {
        width: 50%;
        @include heading;
        font-weight: 600;
        line-height: $line-height;
        color: $grey-15;
    }

    p {
        width: 50%;
        @include text-base;
    }
}

// == COURSE LISTING SECTION ==
.courses-subpage-list {
    margin-bottom: 7.5rem;

    .course-subpage-card {
        padding: 3.125rem;
        background-color: $white;
        border-radius: $radius-12;
        margin-bottom: 3.125rem;

        &:last-child {
            margin-bottom: 0;
        }

        .course-subpage-header {
            display: flex;
            gap: 3.125rem;
            align-items: center;
            margin-bottom: 1.875rem;

            .course-subpage-info {
                h2 {
                    @include text-large;
                    font-weight: 600;
                    line-height: $line-height;
                    color: $grey-15;
                    margin-bottom: 10px
                }

                p {
                    @include text-base;
                }
            }

            .course-subpage-link {
                @include btn-view-all;
                margin-left: 0;
            }
        }

        .course-subpage-images {
            display: flex;
            gap: 1.875rem;
            margin-bottom: 1.875rem;
            
            .image-container {
                img {
                    width: 100%;
                    border-radius: $radius-8;
                }
            }
        }

        .course-meta {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 3.125rem;

            .course-duration-level {
                span {
                    display: inline-block;
                    padding: .625rem 1rem;
                    background-color: $white;
                    border: .0625rem solid $white-95;
                    border-radius: $radius-8;
                    @include text-base;
                }

                .course-subpage-duration {
                    margin-right: .625rem;
                }
            }

            .course-subpage-instructor {
                span {
                    @include text-medium;
                    font-weight: 500;
                    color: $grey-15;
                }
            }
        }

        .course-subpage-curriculum {
            border: .0625rem solid $white-95;
            border-radius: $radius-12;

            .curriculum-title {
                @include text-medium-large;
                font-weight: 600;
                line-height: $line-height;
                color: $grey-15;
                padding: 1.5rem 1.875rem;
                border-bottom: .0625rem solid $white-95;
            }

            .subpage-curriculum-list {
                display: flex;
                padding: 1.875rem 0;
                

                .subpage-curriculum-item {
                    border-right: 0.0625rem solid $white-95;
                    padding: 0 3.125rem;
                    width: 100%;

                    
                    &:last-child {
                        border-right: 0;
                    }

                    .curriculum-step {
                        @include text-xxlarge;
                        font-weight: 800;
                        line-height: $line-height;
                        color: $grey-15;
                    }

                    .curriculum-topic {
                        @include text-small;
                        font-weight: 500;
                        line-height: $line-height;
                        color: $grey-20;
                    }
                }
            }
        }
    }
}


// == BREAKPOINTY ==
@media screen and (max-width: 480px) {
    // == COURSE LISTING SECTION ==
    .course-meta {
        flex-direction: column;
        align-items: flex-start !important;
        gap: 1rem;
    }
}

@media screen and (max-width: 767px) {
    // == COURSE LISTING SECTION ==
    .course-subpage-header {
        flex-direction: column;
        align-items: flex-start !important;
        gap: 1.25rem !important;

        .course-subpage-info {
            h2 {
                margin-bottom: .25rem !important;
            }
        }
    }

    .course-duration-level {
        span {
            padding: .5rem .75rem !important;
        }
    }

    .subpage-curriculum-list {
        flex-direction: column;

        .subpage-curriculum-item {
            border-right: 0 !important;
            border-bottom: 0.0625rem solid $white-95;
            padding-top: 1.25rem !important;
            padding-bottom: 1.25rem !important;

            &:last-child {
                border-bottom: 0;
                padding-bottom: 0 !important;
            }

            &:first-child {
                padding-top: 0 !important;
            }
        }
    }
}

@media screen and (max-width: 1023px) {
    // == SUBPAGE INTRO SECTION ==
    .subpage-intro {
        margin: 3.125rem 0;
        padding-bottom: 1.875rem;
        gap: 1rem;
        flex-direction: column;

        h1 {
            width: 100%;
        }

        p {
            width: 100%;
        }
    }

    // == COURSE LISTING SECTION ==
    .courses-subpage-list {
        margin-bottom: 3.125rem;

        .course-subpage-card {
            padding: 1.5rem !important;
            margin-bottom: 1.25rem !important;
    
            &:last-child {
                margin-bottom: 0 !important;
            }
    
            .course-subpage-images {
                gap: .625rem !important;
            }
    
            .curriculum-title {
                padding: .875rem 1.25rem !important;
            }
    
            .subpage-curriculum-item {
                padding-left: 1.5rem !important;
                padding-right: 1.5rem !important;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1080px) {
    // == COURSE LISTING SECTION ==
    .subpage-curriculum-list {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr) !important;
        gap: 1.875rem;

        .subpage-curriculum-item {
            border-right: 0 !important;
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    // == SUBPAGE INTRO SECTION ==
    .subpage-intro {
        margin: 6.25rem 0;
        padding-bottom: 2.5rem;
        gap: 5rem;
    }

    // == COURSE LISTING SECTION ==
    .courses-subpage-list {
        margin-bottom: 6.25rem;

        .course-subpage-card {
            padding: 2.5rem !important;
            margin-bottom: 2.5rem !important;
    
            &:last-child {
                margin-bottom: 0 !important;
            }
    
            .curriculum-title {
                padding: 1.25rem 1.5rem !important;
            }
    
            .subpage-curriculum-item {
                padding-left: 2.5rem !important;
                padding-right: 2.5rem !important;
            }
        }
    }
}


@media screen and (max-width: 1440px) {
    // == COURSE LISTING SECTION ==
    .course-subpage-header {
        margin-bottom: 1.5rem !important;
    }

    .course-subpage-images {
        margin-bottom: 1.5rem !important;
    }

    .course-meta {
        margin-bottom: 2.5rem !important;
    }

    .subpage-curriculum-list {
        padding: 1.5rem 0 !important;
    }
}
