// == COURSES DETAIL == 
.course-section {
    margin-bottom: 7.5rem;

    .course-intro-image {
        width: 100%;
        margin-bottom: 7.5rem;
    }

    .course-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.875rem;

        .course-detail-card {
            background-color: $white;
            border-radius: $radius-12;
            padding: 3.125rem;

            .course-number {
                @include text-huge;
                font-weight: 700;
                color: $grey-15;
                text-align: right;
            }

            .course-detail-info {
                .course-title {
                    @include text-large;
                    font-weight: 600;
                    line-height: $line-height;
                    color: $grey-20;
                    padding: 3.125rem 0;
                }

                .course-lesson {
                    display: flex;
                    justify-content: space-between;
                    gap: .625rem;
                    align-items: center;
                    border: .0625rem solid $white-95;
                    border-radius: $radius-8;
                    margin-bottom: 1.25rem;
                    padding: 1.5rem 1.875rem;
                    cursor: pointer;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    .course-lesson-text {
                        .course-lesson-title {
                            @include text-medium;
                            font-weight: 500;
                            line-height: $line-height;
                            color: $grey-20;
                            margin-bottom: .375rem;

                            .course-lesson-number {
                                @include text-base;
                            }
                        }
                    }

                    .course-detail-duration {
                        display: flex;
                        align-items: center;
                        gap: .25rem;
                        padding: .75rem .875rem;
                        background-color: $white-97;
                        border-radius: $radius-6;

                        .course-detail-icon {
                            width: 1.5rem;
                            height: 1.5rem;
                            color: $grey-30;
                        }

                        .course-duration-text {
                            @include text-base;
                            white-space: nowrap;
                        }
                    }

                    &:hover {
                        border: .0625rem solid $orange-90;
                        box-shadow: 0 0 0 .25rem rgba($orange-90, 0.5);

                        .course-detail-duration {
                            background-color: $orange-90;
                        }
                    }
                }
            }
        }
    }
}


// BREAKPOINTY ==
@media screen and (max-width: 767px) {
    // == COURSES DETAIL == 
    .course-lesson {
        flex-direction: column;
        align-items: flex-start !important;
        gap: 1.5rem;
    }
}

@media screen and (max-width: 1023px) {
    // == COURSES DETAIL == 
    .course-section {
        margin-bottom: 3.125rem;

        .course-intro-image {
            margin-bottom: 3.125rem;
        }

        .course-content {
            grid-template-columns: repeat(1, 1fr) !important;

            .course-detail-card {
                padding: 1.875rem;

                .course-detail-info {
                    .course-title {
                        padding: 1.875rem 0;
                    }

                    .course-lesson {
                        padding: 1.5rem;
                    }
                }
            }
        }
    }
    
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    // == COURSES DETAIL == 
    .course-section {
        margin-bottom: 6.25rem;

        .course-intro-image {
            margin-bottom: 6.25rem;
        }

        .course-content {
            .course-detail-card {
                padding: 2.5rem;

                .course-detail-info {
                    .course-title {
                        padding: 2.5rem 0;
                    }

                    .course-lesson {
                        padding: 1.25rem 1.5rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1440px) {
    // == COURSES DETAIL == 
    .course-content {
        gap: 1.25rem !important;

        .course-lesson {
            margin-bottom: 1rem !important;
    
            &:last-child {
                margin-bottom: 0 !important;
            }
    
            .course-lesson-title {
                margin-bottom: .125rem !important;
            }
    
            .course-detail-duration {
                padding: .625rem !important;
            }
        }
    }
}
