// == HERO SECTION ==
.hero-content {
    margin-top: 6.25rem;
    margin-bottom: 7.5rem;

    .hero-header {
        display: flex;
        flex-direction: column;
        align-items: center;

        .hero-title-wrapper {
            display: flex;
            align-items: center;
            gap: .625rem;
            background-color: $white-99;
            padding: .875rem 1.875rem .875rem 1.25rem;
            border-radius: $radius-12;
            border: .0625rem solid $white-95;
            margin-bottom: 1.25rem;

            .hero-icon {
                display: flex;
                align-items: center;
                background-color: $orange-95;
                border-radius: $radius-6;
                padding: .875rem;

                .hero-icon-svg {
                    width: 2.125rem;
                    height: 2.125rem;
                    color: $grey-15;
                }
            }

            .hero-title {
                @include h1-main;
                font-weight: 600;
                line-height: $line-height;
                color: $grey-10;
            }

            .hero-title-span {
                color: $orange-50;
            }
        }

        .hero-subtitle {
            margin-bottom: 3.75rem;

            h2 {
                @include text-xlarge;
                font-weight: 500;
                line-height: $line-height;
                color: $grey-15;
                margin-bottom: .625rem;
                text-align: center;
            }

            p {
                text-align: center;
                @include text-small;
                font-weight: 400;
                line-height: $line-height;
                color: $grey-15;
            }
        }

        .hero-btns {
            .hero-btn {
                padding: 1.125rem 1.5rem;
                border-radius: $radius-8;
                @include text-small;
                line-height: $line-height;
                text-decoration: none;
                display: inline-block;
            }

            .hero-btn--primary {
                background-color: $orange-50;
                color: $white;
                font-weight: 600;
                margin-right: .75rem;
                transition: background-color 0.3s;

                &:hover {
                    background-color: $orange-70;
                }
            }

            .hero-btn--secondary {
                background-color: $white;
                border: .0625rem solid $white-95;
                font-weight: 500;
                color: $grey-15;
                transition: background-color 0.3s;

                &:hover {
                    background-color: $white-95;
                    border: .0625rem solid $white;
                }
            }
        }
    }

    .hero-slider-wrapper {
        margin: 6.25rem 0;

        .logos-desktop {
            display: flex;
            justify-content: space-between;
            background-color: $white-99;
            border: .0625rem solid $white-95;
            border-radius: $radius-12;
            padding: 1.875rem;

            .logo-desktop-container {
                display: flex;
                justify-content: center;
                border-right: .0625rem solid $white-95;
                padding: 1.875rem 2.5rem;
                width: 100%;

                &:last-child {
                    border-right: 0;
                }
            }
        }
    }

    .hero-image {
        width: 100%;
        border-radius: $radius-12;
    }
}

// == BENEFITS SECTION ==
.benefits-section {
    margin-bottom: 7.5rem;

    .benefits-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5rem;

        h2 {
            @include heading;
            font-weight: 600;
            line-height: $line-height;
            color: $grey-15;
            margin-bottom: .375rem;
        }

        p {
            @include text-small;
            font-weight: 400;
            line-height: $line-height;
            color: $grey-35;
            max-width: 73.5625rem;
        }

        .benefits-btn {
            text-decoration: none;
            @include text-small;
            font-weight: 400;
            line-height: $line-height;
            color: $grey-15;
            background-color: $white-99;
            border: .0625rem solid $white-95;
            border-radius: $radius-8;
            padding: 1.125rem 1.5rem;
            transition: background-color 0.3s;
            white-space: nowrap;
            margin-left: 1.875rem;

            &:hover {
                background-color: $white-95;
                border: .0625rem solid $white-99;
            }
        }
    }

    .benefits-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.25rem;

        .benefit-card {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            background-color: $white;
            border-radius: $radius-12;
            padding: 3.125rem;

            .benefit-number {
                @include text-huge;
                font-weight: 700;
                color: $grey-15;
            }

            .benefit-content {
                margin: 3.125rem 0 3.125rem 0;

                h3 {
                    @include text-large;
                    font-weight: 600;
                    line-height: $line-height;
                    color: $grey-20;
                    margin-bottom: .875rem;
                }

                p {
                    @include text-small;
                    font-weight: 400;
                    line-height: $line-height;
                    color: $grey-30;
                }
            }

            .benefit-icon {
                display: flex;
                padding: 1.25rem;
                background-color: $white-99;
                border: .0625rem solid $white-95;
                border-radius: $radius-8;

                .benefit-icon-svg {
                    color: $orange-50;
                    width: 2.125rem;
                    height: 2.125rem;
                }
            }
        }
    }
}


// == OUR COURSES SECTION ==
.section-courses {
    margin-bottom: 7.5rem;

    .header-courses {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5rem;

        h2 {
            @include heading;
            font-weight: 600;
            line-height: $line-height;
            color: $grey-15;
            margin-bottom: .375rem;
        }

        p {
            @include text-small;
            font-weight: 400;
            line-height: $line-height;
            color: $grey-35;
            max-width: 73.5625rem;
        }

        .courses-btn {
            text-decoration: none;
            font-weight: 400;
            line-height: $line-height;
            color: $grey-15;
            background-color: $white-99;
            border: .0625rem solid $white-95;
            border-radius: $radius-8;
            padding: 1.125rem 1.5rem;
            transition: background-color 0.3s;

            &:hover {
                background-color: $white-95;
                border: .0625rem solid $white-99;
            }
        }
    }

    .courses-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.875rem;

        .course-card {
            background-color: $white;
            border: .0625rem solid $white-95;
            border-radius: $radius-12;
            padding: 3.125rem;

            .course-image {
                width: 100%;
                border-radius: $radius-8;
            }

            .course-info {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 1.875rem 0;

                .course-details {
                    @include text-small;
                    font-weight: 400;
                    color: $grey-30;
                    
                    span {
                        padding: .625rem 1rem;
                        background-color: $white;
                        border: .0625rem solid $white-95;
                        border-radius: $radius-8;
                        display: inline-block;
                    }

                    .course-duration {
                        margin-right: 10px;
                    }
                }

                .course-instructor {
                    @include text-medium;
                    font-weight: 500;
                    color: $grey-15;
                    display: inline-block;
                }
            }

            .course-description {
                margin-bottom: 1.875rem;

                h3 {
                    @include text-large;
                    font-weight: 600;
                    line-height: $line-height;
                    color: $grey-15;
                    margin-bottom: .875rem;
                }

                p {
                    @include text-small;
                    font-weight: 400;
                    line-height: $line-height;
                    color: $grey-30;
                }
            }

            .course-link {
                display: inline-block;
                @include text-small;
                font-weight: 500;
                line-height: $line-height;
                color: $grey-15;
                text-decoration: none;
                padding: 1.125rem 1.5rem;
                background-color: $white-97;
                border: .0625rem solid $white-95;
                border-radius: $radius-8;
                width: 100%;
                text-align: center;
                transition: background-color 0.3s;

                &:hover {
                    background-color: $white-99;
                }
            }
        }
    }
}

// == OUR TESTIMONIALS SECTION ==
.section-testimonials {
    margin-bottom: 7.5rem;

    .header-testimonials {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5rem;

        h2 {
            @include heading;
            font-weight: 600;
            line-height: $line-height;
            color: $grey-15;
            margin-bottom: .375rem;
        }

        p {
            @include text-small;
            font-weight: 400;
            line-height: $line-height;
            color: $grey-35;
            max-width: 73.5625rem;
        }

        .testimonials-btn {
            display: inline-block;
            text-decoration: none;
            font-weight: 400;
            line-height: $line-height;
            color: $grey-15;
            background-color: $white-99;
            border: .0625rem solid $white-95;
            border-radius: $radius-8;
            padding: 1.125rem 1.5rem;
            transition: background-color 0.3s;

            &:hover {
                background-color: $white-95;
                border: .0625rem solid $white-99;
            }
        }
    }

    .testimonials-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.875rem;

        .testimonial-card {
            background-color: $white;
            border: .0625rem solid $white-95;
            border-radius: $radius-12;

            .testimonial-quote {
                padding: 3.125rem;
                border-bottom: .0625rem solid $white-95;

                p {
                    @include text-small;
                    font-weight: 400;
                    line-height: $line-height;
                    color: $grey-30;
                }
            }

            .testimonial-author-info {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1.875rem 3.125rem;
                background-color: $white-99;
                border-bottom-right-radius: $radius-12;
                border-bottom-left-radius: $radius-12;

                .testimonial-meta {
                    display: flex;
                    align-items: center;
                    gap: .9375rem;

                    .testimonial-avatar {
                        border-radius: $radius-8;
                    }

                    .testimonial-author {
                        @include text-small;
                        font-weight: 600;
                        line-height: $line-height;
                        color: $grey-20;
                    }
                }

                .btn-read-more {
                    @include text-small;
                    font-weight: 500;
                    line-height: $line-height;
                    color: $grey-15;
                    text-decoration: none;
                    padding: 1.125rem 1.5rem;
                    background-color: $white-97;
                    border: .0625rem solid $white-95;
                    border-radius: $radius-8;
                }
            }
        }
    }
}


// == BREAKPOINTY ==
@media screen and (max-width: 480px) {
    // == HERO SECTION ==
    .hero-btn--primary {
        margin-right: 0 !important;
    }
}

@media screen and (max-width: 767px) {
    // == HERO SECTION ==
    .hero-icon {
        padding: .75rem !important;
    }

    .hero-subtitle {
        margin-bottom: 3.125rem !important;
    }

    .hero-btns {
        .hero-btn {
            padding: .875rem 1.25rem !important;
        }
    }

    .hero-slider-wrapper {
        margin: 1.875rem 0 !important;
    }
    
    // = BENEFITS SECTION ==
    .benefits-header {
        flex-direction: column;
        align-items: flex-start !important;
        gap: 1.25rem;

        h2 {
            margin-bottom: .25rem !important;
        }

        .benefits-btn {
            padding: .875rem 1.25rem !important;
            margin-left: 0 !important;
        }
    }

    .benefits-list {
        grid-template-columns: repeat(1, 1fr) !important;

        .benefit-card {
            .benefit-icon {
                padding: .875rem !important;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    // == HERO SECTION ==
    .hero-slider-wrapper {
        margin: 3.125rem 0 !important;
    }

    // == BENEFITS SECTION ==
    .benefits-list {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}


@media screen and (max-width: 1023px) {
    // == HERO SECTION ==
    .hero-content {
        margin: 3.125rem 0;
    }

    // == BENEFITS SECTION == 
    .benefits-section {
        margin-bottom: 3.125rem;

        .benefits-header {
            margin-bottom: 2.5rem;
        }

        .benefits-list {
            .benefit-card {
                padding: 1.875rem;

                .benefit-content {
                    margin: 1.875rem 0;

                    h3 {
                        margin-bottom: .625rem;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    // == HERO SECTION == 
    .hero-content {
        margin: 6.25rem 0;

        .hero-slider-wrapper {
            margin: 5rem 0;
        }
    }

    // == BENEFITS SECTION ==
    .benefits-section {
        margin-bottom: 6.25rem;

        .benefits-header {
            margin-bottom: 3.75rem;
        }

        .benefits-list {
            .benefit-card {
                padding: 2.5rem;

                .benefit-content {
                    margin: 2.5rem 0;
                }
            }
        }
    }
}

@media screen and (max-width: 1439px) {
    .logos-desktop {
        display: none !important;
    }
}

@media screen and (min-width: 1440px) and (max-width: 1500px) {
    .logo-desktop-container {
        padding: 1.25rem 1.875rem !important;
    }
}
